# Build output
dist/
build/
out/
*.zip

# Node modules (if you're using bundlers like Vite, Webpack, etc.)
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files (DO NOT commit API keys)
.env
.env.*
*.local

# OS crap
.DS_Store
Thumbs.db

# Editor stuff
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Temporary files
*.tmp
*.log

#Junks
_metadata/